* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav {
    background-color: #F55A5A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    margin-bottom: 40px;
}

.nav h3 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 8.5px;
    letter-spacing: -0.015em;
}

h3 {
    font-weight: 400;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-image {
    width: 205px; 
    height: 238px;
    border-radius: 6px;
    max-width: 100%;
    background-size: cover;
}

.body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.country-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.location-logo {
    width: 15px;
    height: 20px;
    scale: 0.9;
}

.country-name {
    font-size: 17px;
    font-weight: 400;
    margin-left: 3.5px;
    letter-spacing: 0.07em;
    color: #2B283A;
}

.text-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.maps-link {
    text-decoration: underline;
    font-size: 15px;
    color: #918E9B;
    font-weight: 400;
    margin-left: 15px;
}

.location-spot {
    font-size: 32px;
    color: #2B283A;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    font-size: 15px;
    color: #2B283A;
    font-weight: 700;
    margin-bottom: 0;
}

.description {
    font-size: 15px;
    color: #2B283A;
    font-weight: 400; 
    width: 500px;
}